<mat-toolbar class="mat-elevation-z6"  color="primary">
  <h1>Conversonix</h1> 
  <div class="menu-position" *ngIf="activeLinkIndex === 1">
  </div>
</mat-toolbar>

<router-outlet>
</router-outlet>


<nav mat-tab-nav-bar color="primary" class="bottom-tabs mat-elevation-z6" mat-align-tabs="center" headerPosition="below" animationDuration="1000ms">
  <a mat-tab-link class="tab-size" *ngFor="let routeLink of routeLinks; let i = index;" 
  [routerLink]="routeLink.link"
  routerLinkActive="mat-tab-link-active"
  #rla="routerLinkActive"
  [active]="activeLinkIndex === i"
  (click)="activeLinkIndex = i"
  [routerLinkActiveOptions]="{exact: true}">
  {{routeLink.label}}
</a>
<mat-tab label="List" List >  </mat-tab>
</nav>
