mat-list {
  padding-top: 0px;
}

img {
  border-radius: 0 !important; 
  height: 30px !important;
}

mat-spinner {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.main-box {
  margin-top: 64px;
  margin-bottom: 49px;
}

.text-left{
  text-align: left;
}